@use '../../../styles/functions' as fn;
@use '../../../styles/colors' as clr;
@use '../../../styles/mixins' as mx;

.scaled-image {
    width: 100%;
    height: auto;
    padding: fn.toVw(50) 0 fn.toVw(173) 0;
    position: relative;
    z-index: 1;

    @include mx.phone {
        padding: fn.toVw(92) 0 fn.toVw(103);
        min-height: 100vh;
    }

    .container {
        margin: 0 fn.toVw(156) 0 fn.toVw(156);

        @include mx.phone {
            margin: 0 fn.toVw(47);
        }

        h2 {
            @include mx.phone {
                margin: 0 0 fn.toVw(48) 0;
            }
        }


        .image-wrapper {
            width: fn.toVw(572);
            height: fn.toVw(356);
            background-color: clr.$brown-10;
            border-radius: fn.toVw(20);
            overflow: hidden;
            z-index: 1;
            visibility: hidden;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.05);
            will-change: transform, width, height;

            @include mx.phone {
                border-radius: fn.toVw(10);
            }


            &.active {
                visibility: visible;
            }

            video {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                object-fit: cover;
                object-position: center;

                &.portrait {
                    display: none;

                    @include mx.phone {
                        display: block;
                    }
                }

                &.desktop {
                    @include mx.phone {
                        display: none;
                    }
                }
            }

            @include mx.phone {
                width: fn.toVw(282);
                height: fn.toVw(282);

                top: 40%;

                // position: relative;
                // left: initial;
                // top: initial;
                // transform: translate(0, 0);
            }
        }
    }

    &-content {
        width: fn.toVw(572);
        margin: calc(fn.toVw(91 + 356 + 96)) auto 0;

        display: flex;

        @include mx.phone {
            flex-direction: column;
            width: auto;
            margin: calc(fn.toVw(40) + fn.toVw(300)) fn.toVw(14) 0;
        }

        .category-wrapper {
            flex: 0 0 50%;
            width: 50%;

            @include mx.phone {
                flex: 1;
                width: 100%;
                margin-bottom: fn.toVw(20);
            }
        }

        .description-wrapper {
            flex: 0 0 fn.toVw(373);
            width: fn.toVw(373);

            @include mx.phone {
                flex: 1;
                width: 100%;
            }

            .text-description {
                margin-bottom: fn.toVw(20);
                opacity: 0.9;

                font-weight: 400;
                font-size: fn.toVw(18);
                line-height: 1.4;

                @include mx.phone {
                    font-size: fn.toVw(13);
                }
            }
        }

        p {
            margin: 0;
        }
    }
}

@include mx.jp {
    .scaled-image {
        &-content {
            padding-top: fn.toVw(79);
            margin-left: fn.toVw(138);

            @include mx.phone {
                padding-top: 0;
                margin: fn.toVw(543) auto 0;
            }
        }

        .container {
            .category-wrapper {
                flex: 0 0 fn.toVw(143);
                width: fn.toVw(143);

                @include mx.phone {
                    flex: 1;
                    width: 100%;
                }
            }

            .description-wrapper {
                padding-top: 1em;

                flex: 0 0 fn.toVw(962);
                width: fn.toVw(962);

                @include mx.phone {
                    flex: 1;
                    width: 100%;
                }

                .text-description {
                    font-size: fn.toVw(19);

                    @include mx.phone {
                        font-size: fn.toVw(13);
                    }
                }
            }
        }
    }
}