@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;
@use '../../../styles/colors' as clr;

.image-background {
    &.mb-0 {
        margin-bottom: 0;
    }

    &.is-selected {
        .slide-wrapper {
            height: auto;

            .image-wrapper {
                height: 100vh;
                position: relative;
                display: block;
            }
        }
    }

    .slide-wrapper {
        height: 100vh;
        width: 100%;
        position: relative;
    }

    .master {
        .media {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            // clip-path: inset(100% 0 0 0);

            // &:first-child {
            //     clip-path: inset(0 0 0 0);
            // }
        }

        .content-wrapper {
            z-index: 999;
            height: fn.toVw(400);

            @include mx.phone {
                width: calc(100% - fn.toVw(24) * 2);
                height: fn.toVw(300);
                margin: 0;

                left: fn.toVw(24);
                right: 0;
                bottom: fn.toVw(100);
            }
        }

        .content-wrapper__content {
            position: absolute;
            inset: 0;
            padding: fn.toVw(67) fn.toVw(62);

            @include mx.phone {
                padding: fn.toVw(25) fn.toVw(27) fn.toVw(28);
            }

            &:not(:first-child) {
                h2 {
                    border-bottom: 0;
                }

                .char {
                    opacity: 0;
                }
            }
        }
    }

    .image-wrapper,
    .master {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;

        &.is-active {
            display: block;
        }

        .image-picker {
            position: absolute;
            top: 0;
            left: 0;
        }

        .background-image,
        video {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;

            object-fit: cover;
            object-position: center;

            @include mx.phone {}
        }
    }

    .content-wrapper {
        position: absolute;
        bottom: fn.toVw(20);
        right: fn.toVw(20);

        &.left {
            left: fn.toVw(20);
            right: unset;

            @include mx.phone {
                left: fn.toVw(6);
            }
        }

        padding: fn.toVw(67) fn.toVw(62);
        width: fn.toVw(565);

        @include mx.phone {
            padding: fn.toVw(25) fn.toVw(27) fn.toVw(28);

            bottom: fn.toVw(17);

            right: unset;
            width: auto;
            margin: 0 fn.toVw(26);
        }

        &__content {
            position: relative;
            z-index: 1;
            color: clr.$white;
        }

        // === BACKGROUND === //
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#000, .2), rgba(#000, .5));
            backdrop-filter: blur(10px);
            border-radius: fn.toVw(20);

            @include mx.phone {
                border-radius: fn.toVw(12);
            }
        }

        :lang(jp) {
            h2 {
                font-size: fn.toVw(42);
                line-height: fn.toVw(45);

                @include mx.phone {
                    font-size: fn.toVw(28);
                    line-height: fn.toVw(30);
                }
            }
        }

        h2 {
            margin: 0 0 fn.toVw(19) 0;
            font-size: fn.toVw(52);
            line-height: fn.toVw(55);
            letter-spacing: -0.52px;
            border-bottom: 1px solid clr.$brown-30;
            color: clr.$brown-30;

            padding-bottom: fn.toVw(38);

            @include mx.phone {
                font-size: fn.toVw(36);
                line-height: fn.toVw(38);
                font-weight: 400;
                margin: 0 0 fn.toVw(16) 0;
                padding-bottom: fn.toVw(23);
            }
        }

        .content-description {
            display: flex;
            flex-direction: column;

            >p {
                flex-grow: 1;
                flex-shrink: 0;

                // margin: 0 fn.toVw(28) 0 0;
                font-weight: 400;
                color: clr.$brown-65;

                text-wrap: pretty;

                @include mx.phone {
                    margin: 0;
                }
            }

            .content-list {
                flex-shrink: 1;
                margin-top: fn.toVw(112 - 43 - 8);
                padding-left: 0;
                list-style: none;
                margin-bottom: fn.toVw(-8);

                @include mx.phone {
                    margin-top: 0;
                }

                &__item {
                    position: relative;
                    padding: fn.toVw(8) 0 fn.toVw(8) fn.toVw(16);

                    &:before {
                        content: '';
                        width: fn.toVw(5);
                        height: fn.toVw(5);
                        background-color: clr.$white;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(clr.$brown-30, .2);
                    }

                    .btn-delete {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }

        .num {
            display: none;
            float: right;
            font-size: fn.toVw(20);
            letter-spacing: 0.01em;

            @include mx.phone {
                font-size: fn.toVw(14);
                font-weight: 400;
                letter-spacing: fn.toVw(-0.14);
            }
        }
    }
}