@use '../../../styles/functions' as fn;

.map-intro {
    .container {
        .image-wrapper {
            margin: 0 auto;

            width: fn.toVw(974);
            height: fn.toVw(530);

            img {
                width: 100%;
                height: 100%;
                border-radius: fn.toVw(20);
            }
        }

        .content-wrapper {
            margin-top: fn.toVw(177);

            text-align: center;

            h2 {
                margin-top: fn.toVw(48);
            }
        }
    }
}
