@use '../../../styles/functions' as fn;

.side-image {
    .container {
        display: flex;
        padding: fn.toVw(130) fn.toVw(145);

        .content-wrapper {
            flex: 0 0 50%;
            width: 50%;
        }

        .image-wrapper {
            flex: 0 0 50%;
            width: 50%;
        }
    }
}
