$black-10: #37352F;
$black-5: #1D1A16;
$black: #000112;

$gray-60: #F6F3EB;
$gray-50: #BFBEBB;
$gray: #D4D9DC;
$white: #FFFFFF;

$brown-60: #F6F3EB;
$brown-50: #FAF5EA;
$brown-40: #EDE1C2;
$brown-37: #ECE6DA;
$brown-35: #EBE3D9;
$brown-30: #E5DED1;
$brown-20: #6F6A59;
$brown-15: #5D524A;
$brown-10: #575349;
$brown-5: #787369;
$brown: #37352F;

$purple-10: #8A6EA7;
$purple: #9378AE;
$blue: #5A8ACC;
