@use 'sass:math';
@use 'functions' as fn;
@use 'mixins' as mx;
@use 'colors' as clr;

.footer {
    padding: fn.toVw(186) fn.toVw(200) fn.toVw(85);
    background-color: clr.$blue;
    position: relative;

    @include mx.phone {
        padding: fn.toVw(108) fn.toVw(20) fn.toVw(42);
    }

    a {
        color: clr.$white;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mx.phone {
            display: block;
        }
    }

    &-left {
        flex: 0 0 50%;
        width: 50%;

        @include mx.phone {
            width: 100%;
            padding-bottom: fn.toVw(45);
            margin-bottom: fn.toVw(31);
            border-bottom: 1px solid rgba(clr.$white, .2);
        }

        .menu-nav {
            margin-bottom: fn.toVw(43);

            div {
                margin-bottom: fn.toVw(10);

                @include mx.phone {
                    margin-bottom: fn.toVw(8);
                }

                a {
                    font-size: fn.toVw(64);
                    line-height: 1;

                    @include mx.phone {
                        font-size: fn.toVw(44);
                    }
                }
            }
        }

        .menu-social {
            a {
                margin-right: fn.toVw(40);

                @include mx.phone {
                    margin-right: fn.toVw(19);
                }

                font-size: fn.toVw(18);
                line-height: 1;
                opacity: .7;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &-right {
        flex-shrink: 1;
        color: clr.$white;

        p.footer-description {
            font-size: fn.toVw(32);
            line-height: normal;
            margin-top: 0;
            margin-bottom: fn.toVw(50);

            @include mx.phone {
                font-size: fn.toVw(28);
                line-height: math.div(32, 28);
                margin-bottom: fn.toVw(75);
            }
        }

        .newsletter {
            p {
                font-size: fn.toVw(20);
                line-height: fn.toVw(27);

                @include mx.phone {
                    font-size: fn.toVw(18);
                }
            }

            .form-group {
                width: 100%;
                padding-bottom: fn.toVw(14);

                border-bottom: 1px solid rgba(clr.$white, 0.6);

                &-inline {

                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                    }

                    input {
                        flex-grow: 1;
                        background-color: transparent;
                        border: none;
                        margin-right: fn.toVw(-6);
                        height: 100%;
                        color: clr.$white;

                        font-size: fn.toVw(20);
                        line-height: fn.toVw(16);

                        &::placeholder {
                            color: rgba(clr.$white, 0.6);
                        }

                        &:focus {
                            outline: none;
                        }

                        @include mx.phone {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    &-end {
        margin-top: fn.toVw(50);
        padding-top: fn.toVw(50);
        // border-top: 1px solid clr.$white;

        flex: 0 0 100%;
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: clr.$white;

        @include mx.phone {
            border-top: none;
            padding-top: 0;
            margin-top: fn.toVw(61);

            flex-direction: column;
            align-items: unset;
            justify-content: unset;
        }

        p,
        a {
            margin-bottom: 0;
            opacity: 0.7;
        }

        p:first-child {
            flex-grow: 1;

            @include mx.phone {
                flex-grow: unset;
                margin-bottom: fn.toVw(28);
            }
        }

        a:first-child {
            margin-right: fn.toVw(45);
        }
    }
}
