@use 'mixins' as mx;

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.line {

  .char {
    will-change: opacity;
  }
}

.border {
  width: 100%;
  height: 1px;
  background-color: rgba(#5D524A, 0.2);
  position: relative;
}

[data-carousel] {
	--progress: 0;
	--offset: 0;
	width: 100%;
	overflow: hidden;

	[data-carousel-scroller] {
		display: flex;
		justify-content: flex-start;
		width: fit-content;
		transform: translateX(calc(1px * var(--offset) * var(--progress)));
		will-change: transform;
	}
}