$transition-duration: 1.2s;
$transition-ease: cubic-bezier(0.32, 0.85, 0.31, 0.93);
$transition-default: $transition-duration $transition-ease;
$transition-delay: 0.15s;

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}