@use '../styles/functions' as fn;
@use '../styles/mixins' as mx;
@use '../styles/colors' as clr;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 11;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: fn.toVw(20) fn.toVw(20) 0;

    @include mx.phone {
        padding: fn.toVw(16) fn.toVw(22) 0 fn.toVw(22);
    }

    &.scroll {
        .nav {
            &-logo {
                width: fn.toVw(64);
                height: fn.toVw(64);

                @include mx.phone {
                    width: fn.toVw(56);
                    height: fn.toVw(56);
                }

                .nav-link {
                    img {
                        opacity: 0;
                    }
                }
            }
        }
    }

    &-logo {
        border-radius: fn.toVw(12);
        background: clr.$brown-50;
        padding: fn.toVw(20) 0 fn.toVw(20) fn.toVw(18);
        width: fn.toVw(116);
        transition: all .25s ease-out;
        position: relative;
        height: fn.toVw(64);

        @include mx.phone {
            padding: fn.toVw(18) fn.toVw(19) fn.toVw(19);
        }

        .nav-link {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: fn.toVw(20);
                left: fn.toVw(18);
                background: url('../../assets/images/logo-scroll.png');
                background-repeat: no-repeat;
                background-size: contain;

                width: fn.toVw(20);
                height: fn.toVw(21);
            }

            img {
                transition: opacity .25s ease-out;
                height: fn.toVw(21);
            }
        }
    }

    &-right {
        .contact-wrapper {
            display: flex;
            align-items: center;
            padding: fn.toVw(1) fn.toVw(1) fn.toVw(1) fn.toVw(21);
            border-radius: fn.toVw(10);
            background-color: clr.$brown-50;

            .phone {
                padding-right: fn.toVw(18);

                font-size: fn.toVw(12);
                font-weight: 400;

                @include mx.phone {

                    &:before,
                    &:after {
                        content: '';
                        display: none;
                        width: fn.toVw(14);
                        height: 1px;
                        background-color: clr.$brown-10;
                    }

                    &:before {
                        margin-bottom: fn.toVw(6);
                    }
                }

                span {
                    @include mx.phone {
                        // display: none;
                    }

                    a {
                        color: clr.$brown-10;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .book-btn {
                display: block;
                padding: fn.toVw(26) fn.toVw(20);
                background: clr.$brown-39;
                border-radius: fn.toVw(10);
                color: clr.$brown-10;

                font-size: fn.toVw(12);
                font-weight: 400;

                transition: background-color 0.3s ease;

                @include mx.phone {
                    border-radius: fn.toVw(8);
                    padding: fn.toVw(18) fn.toVw(10);
                }

                &:hover {
                    background-color: #e1d6c2;
                }
            }
        }
    }
}
