@use 'mixins' as mx;

:root {
    --color-text: #fff;
    --color-bg: #000;
    --color-link: rgba(255, 255, 255, 0.5);
    --color-link-hover: #f8c5dc;
    --color-bg-slide: #171719;

    --vw: 1512;
    --scaler: 100vw;
    --multiplier: 1;

    @include mx.phone {
        --vw: 375;
    }
}
