@use 'sass:math';
@use 'functions' as fn;
@use 'mixins' as mx;
@use 'colors' as clr;

:lang(jp) {
    .solution-related .container .content-item p {
        text-wrap: nowrap;

        @include mx.phone {
            font-size: fn.toVw(14);
        }
    }

    .solution-related {
        .container {
            .content-item {
                .pill {
                    @include mx.phone {
                        text-align: center;
                        float: unset;

                        position: absolute;
                        bottom: fn.toVw(16);
                        left: 0;
                        width: fn.toVw(100);
                    }
                }

                a {
                    min-width: fn.toVw(108);
                    text-align: center;
                }
            }
        }
    }
}

.\%e3\%83\%95\%e3\%83\%ac\%e3\%82\%ad\%e3\%82\%b7\%e3\%83\%96\%e3\%83\%ab\%e3\%83\%87\%e3\%82\%b9\%e3\%82\%af {
    p {
        max-width: fn.toVw(319);

        @include mx.phone {
            max-width: unset;
        }
    }
}

.\%e3\%82\%a4\%e3\%83\%99\%e3\%83\%b3\%e3\%83\%88\%e3\%82\%b9\%e3\%83\%9a\%e3\%83\%bc\%e3\%82\%b9 {
    p {
        max-width: fn.toVw(316);

        @include mx.phone {
            max-width: unset;
        }
    }
}

.solution-related {
    background-color: clr.$brown-37;

    .container {
        display: flex;
        padding: 0 fn.toVw(40 - 14) fn.toVw(136);

        @include mx.phone {
            flex-direction: column;
            padding: 0 fn.toVw(20);
            width: 100%;
        }

        .content-item {
            // flex: 0 0 (math.div(1, 3) * 100%);
            // width: math.div(1, 3) * 100%;
            width: fn.toVw(458 + 28);

            display: flex;
            flex-direction: column;

            padding: 0 fn.toVw(14);

            @include mx.phone {
                flex: unset;
                width: 100%;
                padding: 0;
                display: block;
            }

            .image-wrapper {
                @include mx.phone {
                    margin-bottom: fn.toVw(23);
                }

                img {
                    height: fn.toVw(313);
                    width: 100%;
                    border-radius: fn.toVw(16);
                    object-fit: cover;
                    object-position: center;

                    @include mx.phone {
                        height: fn.toVw(211);
                        border-radius: fn.toVw(12);
                    }
                }
            }

            h3 {
                font-size: fn.toVw(24);
                color: clr.$brown-10;
                font-weight: 400;

                @include mx.phone {
                    margin: 0 0 fn.toVw(18);
                }
            }

            .pill {
                font-size: fn.toVw(14);
                font-weight: 400;
                padding: fn.toVw(6) fn.toVw(20);
                border-radius: fn.toVw(25);
                background-color: clr.$brown-15;
                color: clr.$brown-30;

                float: right;

                display: none;

                @include mx.phone {
                    display: block;
                }
            }

            p {
                opacity: 0.7;
                font-size: fn.toVw(15);
                line-height: fn.toVw(23);
                color: clr.$brown-10;
                font-weight: 400;

                margin-bottom: fn.toVw(30);

                flex-grow: 1;

                max-height: fn.toVw(150);

                @include mx.phone {
                    margin-top: 0;
                    margin-bottom: fn.toVw(48);
                    max-height: unset;
                }
            }

            a {
                color: clr.$brown-37;

                &.btn {
                    @include mx.phone {
                        display: none;
                    }
                }
            }
        }
    }
}

:lang(jp) {
    .solution-related .container .content-item {
        h3 {
            @include mx.phone {
                font-size: fn.toVw(20);
            }
        }

        .pill {
            @include mx.phone {
                font-size: fn.toVw(10);
                padding: fn.toVw(6) fn.toVw(10);
            }
        }
    }
}