@use 'fonts';
@use 'functions' as fn;
@use 'root';
@use 'typography';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}

.image-wrapper {
    position: relative;

    .image-picker {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.text-category {
    font-family: 'Bodoni 72', Arial, Helvetica, sans-serif;

    &:before,
    &:after {
        font-family: 'Bodoni 72', Arial, Helvetica, sans-serif;
    }

    &:before {
        content: '[';
        margin-right: fn.toVw(8);
    }

    &:after {
        content: ']';
        margin-left: fn.toVw(8);
    }
}
