@use 'sass:math';
@use 'fonts';
@use 'functions' as fn;
@use 'colors' as clr;
@use 'root';
@use 'typography';
@use 'footer';
@use 'motion';
@use 'nav';

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;

    background-color: clr.$brown-35;
}

.main {
    position: relative;
    z-index: 1;
}

.image-wrapper {
    position: relative;

    .image-picker {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.text-category {
    font-family: 'Bodoni 72', Arial, Helvetica, sans-serif;
    opacity: 0.8;


    &:before,
    &:after {
        font-family: 'Bodoni 72', Arial, Helvetica, sans-serif;
    }

    &:before {
        content: '';
        height: 1px;
        background-color: clr.$brown-10;
        width: fn.toVw(18);
        display: inline-block;
        vertical-align: middle;
        margin-right: fn.toVw(11);
        margin-top: -2px;
    }
}

a {
    text-decoration: none;
}

.d-none {
    display: none;
}


.preloader {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: clr.$brown-35;
}

.solution-related {
    background-color: clr.$brown-37;

    .container {
        display: flex;
        padding: 0 fn.toVw(40) fn.toVw(136);
        margin: 0 fn.toVw(-14);

        .content-item {
            flex: 0 0 (math.div(1, 3) * 100%);
            width: math.div(1, 3) * 100%;

            margin: 0 fn.toVw(14);

            .image-wrapper {
                img {
                    width: 100%;
                    border-radius: fn.toVw(16);
                }
            }

            h3 {
                font-size: fn.toVw(24);
                color: clr.$brown-10;
                font-weight: 400;
            }

            p {
                opacity: 0.7;
                font-size: fn.toVw(15);
                line-height: fn.toVw(23);
                color: clr.$brown-10;

                margin-bottom: fn.toVw(30);
            }
        }
    }
}
