<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{post.title}}
			–
			{{site.name}}</title>
		{{ function('wp_head') }}
	</head>
	<body>

		{% include 'preloader.twig' %}

		{% include 'navbar.twig' %}
		<main class="main" data-taxi>
			<div data-taxi-view>
				{% block content %}{% endblock %}
			</div>
		</main>
			{{ function('wp_footer') }}

			{% include 'footer.twig' %}
		</body>
	</html>
