<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Flow</title>
		{{ function('wp_head') }}
		<link rel="stylesheet" href="{{ site.theme.link }}/dist/main.css" type="text/css" media="screen">
	</head>
	<body>
		{% block content %}{% endblock %}
		{{ function('wp_footer') }}
	</body>
</html>
