<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{post.title}}
			–
			{{site.name}}</title>
		{{ function('wp_head') }}
	</head>
	<body>

		<div class="preloader"></div>

		{% include 'navbar.twig' %}
		<main class="main"> {% block content %}{% endblock %}
			</main>
			{{ function('wp_footer') }}

			{% include 'footer.twig' %}
		</body>
	</html>
