<div class="nav">
	<div class="nav-logo">
		<a href="#" class="nav-link">
			<img src="{{ site.theme.link }}/assets/images/logo2.png" alt="">
		</a>
	</div>

	<div class="nav-right">
		<div class="contact-wrapper">
			<div class="phone">
				<span>
					<a href="tel:081338825711">
						081338825711
					</a>
				</span>
			</div>

			<div>
				<a href="#" class="book-btn">Book a Tour</a>
			</div>
		</div>
	</div>
</div>
