<div class="nav">
	<div class="nav-logo">
		<a href="/" class="nav-link">
			<img src="{{ site.theme.link }}/assets/images/logo-dark.svg" alt="" class="logo-default">
		</a>
	</div>

	<div class="nav-right">
		<div class="contact-wrapper">
			<a href="https://calendly.com/flow_/booking" target="_blank" class="book-btn" rel="nofollow noopener">Book a Tour</a>
		</div>
	</div>
</div>
