<div class="nav">
	<div class="nav-logo">
		<a href="/" class="nav-link">
			<img src="{{ site.theme.link }}/assets/images/logo-dark.svg" alt="" class="logo-default">
		</a>
	</div>

	<div class="nav-right">
		<div class="nav-toggle">
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>
		<a href="https://calendly.com/flow_/booking" target="_blank" class="contact-wrapper" rel="nofollow noopener">
			Book a Tour
		</a>
	</div>
</div>

<div class="nav-popup">
	<div class="backdrop"></div>
	<div class="container">
		<div class="container-bg"></div>
		<div class="image-wrapper">
			<p>Lorem ipsum dolor sit amet</p>
			<img src="https://picsum.photos/300/300" alt="">
		</div>
		<div class="content-wrapper">
			<p>Workspace Solution</p>
			<div class="nav-popup-menu">
				<div class="menu-left">
					<div class="menu-left-link active">
						<a href="#">Private Suites</a>
					</div>

					<div class="menu-left-link">
						<a href="#">Flexible Desk</a>
					</div>

					<div class="menu-left-link">
						<a href="#">Meeting Rooms</a>
					</div>

					<div class="menu-left-link">
						<a href="#">Event Spaces</a>
					</div>
				</div>

				<div class="menu-right">
					<div class="menu-right-link">
						<a href="#">Contact Us</a>
					</div>

					<div class="menu-right-link">
						<a href="#">Be a Member</a>
					</div>
				</div>
			</div>
			<div class="nav-popup-footer">
				<div class="menu-social">
					<a href="#">Instagram</a>

					<a href="#">Facebook</a>

					<a href="#">LinkedIn</a>
				</div>

				<div class="menu-terms">
					<a href="#">Privacy Policy</a>

					<a href="#">Terms & Conditions</a>
				</div>
			</div>
		</div>
	</div>
</div>
