{% extends 'base.twig' %}

{% block content %}
	{{post.content}}

	<section class="solution-related">
		<div class="container">
			<div class="content-item">
				<div class="image-wrapper">
					<img src="https://picsum.photos/300/300" alt="">
				</div>

				<h3>
					Private Suites
				</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur adipiscing elit
				</p>

				<a href="#" class="btn btn-rounded">
					Book a Tour</a>
			</div>

			<div class="content-item">
				<div class="image-wrapper">
					<img src="https://picsum.photos/300/300" alt="">
				</div>

				<h3>
					Private Suites
				</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur adipiscing elit
				</p>

				<a href="#" class="btn btn-rounded">
					Book a Tour</a>
			</div>

			<div class="content-item">
				<div class="image-wrapper">
					<img src="https://picsum.photos/300/300" alt="">
				</div>

				<h3>
					Private Suites
				</h3>

				<p>
					Lorem ipsum dolor sit amet consectetur adipiscing elit
				</p>

				<a href="#" class="btn btn-rounded">
					Book a Tour</a>
			</div>
		</div>
	</section>
{% endblock %}
