@use '../../../styles/colors' as clr;
@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;

#editor {
    .hero {
        position: relative;

        &-content {
            h1 {
                opacity: 1;
            }

            p {
                opacity: 1;
            }
        }
    }
}

.hero {
    height: 100vh;
    width: 100%;

    position: absolute;
    inset: 0;
    z-index: 2;

    &.still {
        position: relative;
    }

    &.shrink {
        height: 60vh;

        .hero-content {
            left: fn.toVw(143);
            bottom: fn.toVw(85);

            @include mx.phone {
                left: fn.toVw(28);
                bottom: fn.toVw(40);
            }
        }
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        visibility: visible;
        will-change: transform, width, height;

        &.active {
            visibility: hidden;
        }

        &.flipping {
            visibility: visible;
        }

        .image-picker {
            z-index: 1;
        }

        .background-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            object-fit: cover;
            object-position: center;

            &.portrait {
                display: none;

                @include mx.phone {
                    display: block;
                }
            }

            &.desktop {
                @include mx.phone {
                    display: none;
                }
            }
        }
    }

    &-content {
        position: absolute;
        bottom: fn.toVw(128.69);
        left: fn.toVw(114);

        color: clr.$brown-50;

        h1 {
            margin: 0;
            opacity: 0;
            line-height: fn.toVw(72);

            @include mx.phone {
                line-height: fn.toVw(44);
            }
        }

        p {
            font-size: fn.toVw(15);
            opacity: 0;
        }

        @include mx.phone {
            left: fn.toVw(23);
            bottom: fn.toVw(184);
        }
    }
}
