@use 'sass:math';
@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;
@use '../../../styles/colors' as clr;

#editor {
    .scroll-slider {
        .media-wrapper {
            flex: 0 0 50%;
        }

        &.is-selected {
            .container {
                display: flex;
            }
        }
    }
}

.scroll-slider {
    padding: fn.toVw(10) 0;
    background-color: clr.$white-5;

    .container {
        height: 100vh;
        margin: 0 fn.toVw(10);

        display: flex;
        gap: fn.toVw(10);
        display: none;

        &.active {
            display: flex;
        }

        @include mx.phone {
            height: auto;
            margin: 0 fn.toVw(5);

            &.active {
                display: block;
            }
        }

        .media-wrapper {
            height: 100%;
            flex: 0 0 fn.toVw(984);
            width: fn.toVw(984);
            position: relative;

            .image-picker {
                position: absolute;
                top: 0;
                left: 0;
            }

            @include mx.phone {
                width: 100%;
                height: fn.toVw(434);
                padding: fn.toVw(6);
                background-color: clr.$brown-40;

                border-top-left-radius: fn.toVw(10);
                border-top-right-radius: fn.toVw(10);
            }

            .background-image,
            video {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
                border-radius: fn.toVw(20);

                @include mx.phone {
                    border-radius: fn.toVw(12);
                }
            }

            video {
                object-fit: cover;
                object-position: center;
            }
        }

        .content-wrapper {
            position: relative;

            height: 100%;
            flex: 1;
            background-color: clr.$brown-37;
            border-radius: fn.toVw(20);

            padding: fn.toVw(24);

            @include mx.phone {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: fn.toVw(34) fn.toVw(14) fn.toVw(14);
            }

            &:before {
                content: '';
                position: absolute;
                display: block;
                background: url('../../../../assets/images/dots.svg');
                background-size: contain;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                z-index: 1;
            }

            .slider-menu {
                overflow: auto;
                opacity: 0;

                @include mx.phone {
                    display: none;
                }

                a {
                    float: right;

                    display: block;
                    width: fn.toVw(48);
                    height: fn.toVw(48);
                    background-color: clr.$brown-20;
                    border-radius: fn.toVw(10);

                    padding: fn.toVw(16);

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    .line {
                        display: block;
                        width: fn.toVw(20);
                        height: 1px;
                        background-color: clr.$white;
                    }
                }
            }

            .text-content,
            .num,
            .slider-action {
                z-index: 1;
            }

            .text-content {
                margin: 0 fn.toVw(16);
                position: relative;

                @include mx.phone {
                    margin: 0;
                }
            }

            .num {
                margin: fn.toVw(19) fn.toVw(16) 0;
                font-weight: 500;
                position: relative;

                @include mx.phone {
                    display: none;
                }
            }

            h2 {
                margin-top: fn.toVw(74);
                padding-bottom: fn.toVw(26);
                border-bottom: 1px solid rgba(clr.$brown-15, .5);
                margin-bottom: fn.toVw(40);

                color: clr.$brown-15;
                font-size: fn.toVw(52);
                line-height: fn.toVw(55);
                letter-spacing: 0.01em;

                @include mx.phone {
                    font-size: fn.toVw(38);
                    line-height: math.div(40, 38);
                    letter-spacing: fn.toVw(-0.38);
                    margin-top: 0;
                    padding-bottom: fn.toVw(16);
                    margin-bottom: fn.toVw(16);
                }
            }

            p {
                color: clr.$black-5;

                @include mx.phone {
                    margin: 0;
                    font-weight: 400;
                }
            }

            .slider-action {
                position: absolute;
                bottom: fn.toVw(40);
                left: fn.toVw(40);
                right: fn.toVw(40);

                @include mx.phone {
                    position: relative;

                    bottom: unset;
                    left: unset;
                    right: unset;

                    margin-top: fn.toVw(35);
                }

                .slider-label {
                    margin-bottom: fn.toVw(40);
                    padding: fn.toVw(25) 0;
                    border-top: 1px solid rgba(clr.$brown-15, .4);
                    border-bottom: 1px solid rgba(clr.$brown-15, .4);

                    opacity: 0.6;

                    .label {
                        font-size: fn.toVw(20);
                        line-height: fn.toVw(24);
                        font-weight: 400;
                        margin-bottom: fn.toVw(2);
                    }

                    .price {
                        font-size: fn.toVw(22);
                        line-height: fn.toVw(24);
                        font-weight: 500;
                    }
                }

                a {
                    width: 100%;
                    display: block;
                    border-radius: fn.toVw(10);
                    font-size: fn.toVw(14);
                    padding: fn.toVw(27) fn.toVw(40);

                    &::before {
                        content: none;
                    }

                    @include mx.phone {
                        padding: fn.toVw(22);
                        text-align: center;
                        font-size: fn.toVw(11);
                        text-transform: uppercase;
                        letter-spacing: fn.toVw(1.32);
                    }
                }
            }
        }
    }
}
