@use '../../../styles/functions' as fn;
@use '../../../styles/colors' as clr;

.text-image {
    margin-bottom: fn.toVw(115);

    .container {
        margin: 0 fn.toVw(144);

        .image-wrapper {
            width: 100%;
            height: fn.toVw(592);
            position: relative;

            .image-picker {
                position: absolute;
                top: 0;
                left: 0;
            }

            .background-image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                border-radius: fn.toVw(20);
            }
        }

        .content-wrapper {
            margin-left: fn.toVw(239);

            h2 {
                margin-top: 0;
                margin-bottom: fn.toVw(66);
            }

            h3 {
                font-size: fn.toVw(40);
                line-height: fn.toVw(52);
                font-weight: 300;

                max-width: fn.toVw(746);
            }

            .description-wrapper {
                margin-top: fn.toVw(59);
                margin-bottom: fn.toVw(126);

                display: flex;

                p {
                    margin: 0;
                }

                .quote {
                    flex: 0 0 50%;
                    width: 50%;

                    p {
                        font-weight: 400;
                    }

                    p:before {
                        content: '';
                        display: inline-block;
                        width: fn.toVw(18);
                        height: 1px;
                        background-color: clr.$brown-5;
                        vertical-align: middle;

                        margin-right: fn.toVw(11);
                    }
                }

                .description {
                    p {
                        max-width: fn.toVw(390);
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
