@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;

:lang(jp) {
    .text-image .container .content-wrapper h3 {
        max-width: fn.toVw(971);
        font-size: fn.toVw(40);
        line-height: fn.toVw(52);

        @include mx.phone {
            max-width: unset;
            font-size: fn.toVw(22);
            line-height: 1.2727272727;
        }
    }
}