@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;
@use '../../../styles/colors' as clr;

.three-highlights {
    .container {
        display: flex;
        padding: 0 fn.toVw(118) fn.toVw(47) fn.toVw(42);
        background-color: clr.$brown-65;

        @include mx.phone {
            flex-direction: column;
        }

        .image-wrapper {
            flex: 0 0 61%;
            width: 61%;

            .media-wrapper {
                overflow: hidden;
                border-radius: fn.toVw(18);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .content-wrapper {
            flex: 0 0 39%;
            width: 39%;
            padding: fn.toVw(96) 0 fn.toVw(96) fn.toVw(118);

            display: flex;
            flex-direction: column;
            justify-content: center;

            .content-item {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: fn.toVw(68);
                }

                .num {
                    opacity: 0.6;
                }

                .content-title {
                    font-size: fn.toVw(38);
                    font-weight: 400;
                    letter-spacing: -0.76px;
                    opacity: 0.9;

                    margin: 0;
                    padding: fn.toVw(8) 0 fn.toVw(18);
                    border-bottom: 1px solid clr.$brown-20;
                }

                .content-desc {
                    margin-right: fn.toVw(32);
                    opacity: 0.6;
                    font-weight: 400;
                }
            }
        }
    }
}
