@use '../../../styles/functions' as fn;
@use '../../../styles/mixins' as mx;
@use '../../../styles/colors' as clr;

:lang(jp) {
    .text-intro.opi1 {
        .container {
            h2 {
                max-width: unset;
                font-size: fn.toVw(45);
                font-weight: 400;

                @include mx.phone {
                    font-size: fn.toVw(20);
                }
            }

            p {
                max-width: unset;
                font-size: fn.toVw(13);
                font-weight: 400;
            }
        }
    }
}

.text-intro {
    &.before-solutions-list {
        .container {
            padding: fn.toVw(134) 0 0;

            @include mx.phone {
                padding: fn.toVw(95) 0 0;
            }
        }
    }

    &.before-related-solutions {
        .container {
            padding: fn.toVw(165) 0 fn.toVw(111);

            @include mx.phone {
                padding: fn.toVw(91) 0 fn.toVw(58);
            }
        }
    }

    .container {
        padding: fn.toVw(200) 0;
        text-align: center;

        @include mx.phone {
            padding: fn.toVw(86) 0;
        }

        h2 {
            margin: 0 auto fn.toVw(36);
            color: clr.$brown-10;

            max-width: fn.toVw(630);

            @include mx.phone {
                max-width: unset;
                margin: 0 fn.toVw(38) fn.toVw(32);
            }
        }

        p {
            margin: 0 auto;
            color: clr.$brown-10;
            max-width: fn.toVw(450);
            font-size: fn.toVw(16);
            line-height: fn.toVw(24);
            font-weight: 400;

            @include mx.phone {
                max-width: unset;
                margin: 0 fn.toVw(67);
            }
        }
    }
}